<div class="login-container">
    <form >
        <!-- (ngSubmit)="onSubmit()" -->
        <div>
            <label for="username">Username: </label>
            <input type="text" id="username" required>
            <!-- [(ngModel)]="username" name="username" -->
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="text" id="password"  required>  
            <!-- [(ngModel)]="password" name="password" -->
        </div>
        <div *ngIf="errorMessage" class="error-message"> {{errorMessage}} </div>
        <button type="submit">Login</button>
    </form>
</div>

<p>Login works</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, natus? Suscipit dolore beatae rem illo deserunt, cumque blanditiis tempore. Reprehenderit commodi ipsam quasi, eligendi quos quibusdam quia et repellat nihil!</p>